@media (min-width:300px) and (max-width:500px){
    .y1{
        position: absolute;
        width: 100%;
        height: 45%;
        top: 31%;
        left: 0%;
    }
}
@media (min-width:500px) and (max-width:800px){
    .y1{
        position: absolute;
        width: 100%;
        height: 50%;
        top: 34%;
        left: 0%;
    }
}
@media (min-width:800px) and (max-width:1025px){
    .y1{
        position: absolute;
        width: 55%;
        height: 90%;
        top: 43%;
        left: 23%;
    }
}
@media (min-width:1025px) and (max-width:1281px){
    .y1{
        position: absolute;
        width: 55%;
        height: 75%;
        top: 43.5%;
        left: 23%;
    }
}
@media (min-width:1281px) {
    .y1{
        position: absolute;
        width: 50%;
        height: 70%;
        top: 37.5%;
        left: 24%;
    }
}
