@media (min-width:300px) and (max-width:500px){
    .f1{
        position: absolute;
        font-size: 21px;
        left: 41.5%;
        top: 25%;
        color:purple;
        font-weight: bold;
    }
    .f2{
        position: absolute;
        width: 80%;
        height: 30%;
        top: 31%;
        left: 10%;
    }
    .f3{
        position: absolute;
        width: 80%;
        height: 30%;
        top: 63%;
        left: 10%;
    }
}
@media (min-width:500px) and (max-width:800px){
    .f1{
        position: absolute;
        font-size: 26px;
        left: 45%;
        top: 26%;
        color:purple;
        font-weight: bold;
    }
    .f2{
        position: absolute;
        width: 65%;
        height: 30%;
        top: 34%;
        left: 17%;
    }
    .f3{
        position: absolute;
        width: 65%;
        height: 30%;
        top: 66%;
        left: 17%;
    }
}
@media (min-width:800px) and (max-width:1025px){
    .f1{
        position: absolute;
        font-size: 40px;
        left: 44%;
        top: 31%;
        color:purple;
        font-weight: bold;
    }
    .f2{
        position: absolute;
        width: 55%;
        height: 30%;
        top: 43%;
        left: 23%;
    }
    .f3{
        position: absolute;
        width: 55%;
        height: 30%;
        top: 76%;
        left: 23%;
    }
}
@media (min-width:1025px) and (max-width:1281px){
    .f1{
        position: absolute;
        font-size: 40px;
        left: 7%;
        top: 31.5%;
        color:purple;
        font-weight: bold;
    }
    .f2{
        position: absolute;
        width: 55%;
        height: 30%;
        top: 43.5%;
        left: 7%;
    }
    .f3{
        position: absolute;
        width: 55%;
        height: 30%;
        top: 76.7%;
        left: 7%;
    }
}
@media (min-width:1281px) {
    .f1{
        position: absolute;
        font-size: 40px;
        left: 5%;
        top: 29%;
        color:purple;
        font-weight: bold;
    }
    .f2{
        position: absolute;
        width: 30%;
        height: 30%;
        top: 37.5%;
        left: 3%;
    }
    .f3{
        position: absolute;
        width: 30%;
        height: 30%;
        top: 70%;
        left: 3%;
    }
}